<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="vnau" value="https://nuget.pkg.github.com/vnau/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <vnau>
      <add key="Username" value="vnau" />
      <add key="ClearTextPassword" value="&#103;&#104;&#112;&#95;&#52;&#66;&#78;&#118;&#76;&#106;&#85;&#85;&#76;&#80;&#83;&#112;&#102;&#70;&#120;&#103;&#99;&#57;&#48;&#97;&#101;&#78;&#76;&#81;&#82;&#107;&#86;&#89;&#56;&#113;&#50;&#121;&#80;&#115;&#122;&#73;" />
    </vnau>
  </packageSourceCredentials>
</configuration>